.contentspage {
    display: grid;
    margin: 20px;
    grid-template-columns: 15vw 75vw;
    grid-template-rows: 7vh 83vh;
    /* grid-gap: 0.5rem 1.5rem; */
    grid-template-areas: "header header"
                         "aside main";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: aside;
}

.contents {
    grid-area: main;
    position: relative;
    top: 3px;
    left: 230px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}
  
::-webkit-scrollbar-thumb {
  background-color: rgb(252, 226, 225);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FCF6F5FF;
  border-radius: 10px;
}