/* .images {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    
}

.photo {
    display: flex;
    flex: 0.5 1 18%;
    justify-content: space-around;
    float: left;
    align-items: center;
    border: 5px solid red;
} */
.images {
   position: relative;
    top: 1px;
    left: 1px;
}

.photo {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border: 1px solid rgb(44, 174, 102);
    border-radius: 8px;
    margin: 5px 8px;
}