.header__detail {
    margin: 10px;
}

.header__detail > div {

    display: inline-block;
    vertical-align: middle;
}

.intro {
    /* color: rgb(44, 174, 102); */
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20rem;
    /* position: relative;
    right: 22.7rem; */
}
.intro > h3 > .username {
    color: rgb(255, 123, 172);
}
.intro > h3 > .nim {
    color: rgb(44, 174, 102);
}
.intro > h3 > .hobby {
    color: rgb(255, 123, 172);
}
.intro > h3 > .is {
    color: rgb(44, 174, 102);
}
.mypage-link a {
    text-decoration: none;
    color: rgb(44, 174, 102);
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.logout {
    border: 0;
    color: rgb(44, 174, 102);
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    
}