.header {
    margin: 10px;
}

.header > div {
    display: inline-block;
    vertical-align: middle;
}

.intro {
    color: rgb(44, 174, 102);
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20rem;
    /* position: relative;
    right: 22.7rem; */
}

.mypage-link a {
    text-decoration: none;
    color: rgb(44, 174, 102);
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.logout {
    border: 0;
    color: rgb(44, 174, 102);
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    
}